################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plusmore.Einvoice.Common.Sample.sln
